.underline {
  text-decoration: underline;
}

.flex-baseline {
  align-items: baseline;
}
.flex-center {
  align-items: centre;
}
.flex-end {
  align-items: end;
}

.flex-between {
  justify-content: space-between;
}

.striped {
  border-bottom: 1px solid $border-color;
  &:nth-child(even) {
    background: $gray-color-light;
  }
}

.height-lg {
  height: 89px;
}

.border {
  border: 1px solid $border-color;
}
