.underline {
  text-decoration: underline;
}

.flex-baseline {
  align-items: baseline;
}

.flex-between {
  justify-content: space-between;
}

.striped {
  border-bottom: 1px solid $border-color;
  &:nth-child(odd) {
    background: $gray-color-light;
  }
}
