@import "node_modules/spectre.css/src/_accordions.scss";

.accordion {
  input:checked ~,
  &[open] {
    & .accordion-body {
      max-height: 200px;
    }
  }

  .accordion-body {
    overflow: scroll;
    position: absolute;
    background: white;
  }
}
